@import "../common.less";

.command-menu {
    position: relative;

    .triangle-down {
        .triangle-down(10px, 6px, #fff);
        position: relative;
        top: -1px;
    }

    .layer {
        padding: 5px;
    }
}
